@charset "utf-8";
/* CSS Document */
body {
	background-color: #fff;
}
#internal_wrap {
	margin-right: 30px;
}
#register_title {
    background-color: #000;
    opacity: 0.8;
    filter:alpha(opacity=60);
    height: 25px;
    padding: 20px;
    margin-bottom: 10px;
}
#register_title div {
	float: left;
}
#errors {
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #CD270A;
	border-bottom: 1px;
	border-top: 1px;
	border-color: #000;
	border-style: solid;
	background-color: #FCC6BC;
}
#imageUploadField {
	background-color: #CBD6DC;
	border-color: #CBD6DC;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 15px;
}
legend {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0F6197;
	padding-top: 10px;
	padding-bottom: 20px
}
fieldset {
}

.prev, .next { 
	background-color:#CD270A;
	padding:5px 10px;
	color:#fff; 
	text-decoration:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.prev:hover, .next:hover { background-color:#F8816B; text-decoration:none;}
.prev { float:left;}
.next { float:right;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}