@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#header {
	padding-left: 10px;
	background-image: url(../images/head1_bg.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	border-style: solid;
	border-width: thin;
	border-color: #666;
	border-top: none;
	border-left: none;
	border-right: none;
}

#title {
	float: left;
	width: 350px;
}
#search_field {
	min-width: 300px;
}
#search_input {
	position: absolute;
	top: 0px;
	left: 420px;
	width: 32%;
	background-image: url(../images/head1_left2_bg.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 68px;
}
#s_b_search {
	position: relative;
	left: -60px;
	margin-top: 30px;
	height: 24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
	width: 100%;
	border: none;
	display:block;
	background-image: url(../images/search_bg.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
}

#s_b_button {
	position: relative;
	float: right;
	top: -25px;
	right: 5px;
	width: 24px;
	height: 24px;
	background-image: url(../images/search_bt.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	cursor: pointer;
	border: 0;
	font-size: 0px;
	line-height: 0px;
}
#search_options1 {
	position: relative;
	float: right;
	left: 140px;
	top: -30px;
}
#search_options2 {
	position: relative;
	float: right;
	left: 140px;
	top: -30px;
}
#header_top_right {
	float: right;
	padding-right: 10px;
	background-image: url(../images/head_right_bg.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 100px;
	width: 300px;
	padding-left: 10px;
}
#top_links {
	position: absolute;
	z-index: 9999;
	left: 30px;
	top: 2px;
}
#user_top_links {
	float: right;
	clear: both;
	position: relative;
	top: -2px;
}
#suggestions {
	line-height: 15px;
	text-align: right;
	margin-top: 25px;
}
#user_bottom_links {
	margin-top: 22px;
}
.user_bottom_icon_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #777777;
    text-decoration: none;
    text-align: center;	
}
#link_pictures {
	margin-left: 20px;
}
#drop_plus {
	float: right;
}
#advancedSearchField {
	padding: 30px 30px 30px 30px;
	background-color: #fff;
	opacity: 0.8;
	filter:alpha(opacity=80);
}