<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!--param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%-20c{1}] %m%n" /-->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1} - %m%n" />
        </layout>
    </appender>

    <appender name="userTrace" class="org.apache.log4j.FileAppender">
        <param name="File" value="${catalina.home}/logs/userTrace.log" />
        <param name="threshold" value="info" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd-MM-yyyy  HH:mm:ss} %5p %c{1} - %m%n" />
        </layout>
    </appender>

<!-- 
    <category name="br.org.groupwareworkbench">
        <priority value="TRACE"></priority>
        <appender-ref ref="stdout"/>
    </category>

    <category name="br.org.groupwareworkbench.core">
        <priority value="DEBUG"></priority>
        <appender-ref ref="stdout"/>
    </category>	

    <category name="br.org.groupwareworkbench.collablet.coord.user">
        <priority value="INFO"></priority>
        <appender-ref ref="userTrace"/>
    </category>
 -->
    
        <category name="br.com.caelum.vraptor">
            <priority value="INFO" />
            <appender-ref ref="stdout" />
        </category>
        
         <category name="br.org.groupwareworkbench.arquigrafia.oauth">
            <priority value="TRACE" />
            <appender-ref ref="stdout" />
        </category>
    

    <!--
        <category name="org.hibernate">
            <priority value="DEBUG" />
            <appender-ref ref="stdout" />
        </category>
    -->

</log4j:configuration>
