@CHARSET "UTF-8";
/*************** Component Style ***********/
.text, .title, .span_link{
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}

.title {
    font-weight: bold;
}

.span_link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.component_header {
    background-color: #483E37;
    color: white;
    padding: 5px;
    -moz-border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
    height: 25px ;
}


/*************** JSP Style ***********/
.album {
    margin-bottom: 30px;
}

.img-container {
    background-color: gray;
    width: 56px;
    margin-left:auto;
    margin-right:auto;
}

.img-container img {
    border: 0;
    margin: 3px;
    width: 50px;
    height: 50px;
}

.album-name {
    text-align: center;	
}

.album-name span {
    /*background: white;*/
}

.shiftedImg {
    float: left;
    margin-bottom: 9px;
}

.shiftedImg a {
    font-size: 10px;
    margin: 4px;
}

.shiftedImg div {
    /*background: white;*/
}

.main {
    background: white;
    display: block;
    margin: 20px;
}

.list-albums-frame {
    float: left;
    border: 1px solid;
    -moz-border-radius: 5px;
    width: 170px;
    height: 650px;
}

.album-list-block {
    height: 560px;
    overflow-y: scroll;
}

.criar-album {
    margin-bottom: 30px;
    height: 12px;
}

.criar-album span{
    margin-left: 10px;
    background: white;
}

.list-adicionar {
    margin-left:200px;
    height:650px;
    border: 1px solid;
    -moz-border-radius: 5px;
}

.list-adicionar .component_header .span_link {
    color: white;
}

.edit-album .label {
    float: left;
    width: 150px;
}

.main-lista-fotos {
    height: 500px;
	background: white;
}

.main-lista-fotos .corpo {
    padding: 3px;
}
.main-lista-fotos .corpo .photo-item {
    float: left; margin: 3px;
}

.main-lista-fotos .corpo .photo-item img {
    border: 0;
}
