@charset "utf-8";
/* CSS Document */
.blue_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000D80;
}
.black_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.gray_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5E5E5F;
	font-weight: bold;
	text-decoration: none;
}
.gray_link2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B8C7CF;
}
.big_black_title, .big_gray_title, .big_white_title, .big_blue_title, .big_blue_title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
.big_black_title {
	color: #000;
}
.big_gray_title {
	color: #333;
}
.big_white_title {
	color: #FFF;
}
.big_blue_title {
	color: #6A8A9B;
}
.big_blue_title2 {
	color: #0F6197;
}
.white_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}

.orange_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFCCAC;
	text-decoration: none;
}
.option_on {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}
.fat_separator {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccc;
	font-weight: bold;
	padding-left: 4px;
	padding-right: 4px;
}
.option_off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
.mid_blue_title {
	color: #6A8A9A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.small_blue_title {
	color: #6A8A9B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.mid_blue_text {
	color: #6A8A9B;
}
.mid_black_text, .mid_white_text, mid_blue_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.mid_white_text {
	color: #fff;
}
.mid_black_text {
	color: #000000;
}
label { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #8594AF;
	text-decoration: none;
}

.default_div {
    margin: 0 auto;
    width: 100%;
    height:100%; 
    min-height: 300px;
    background: white;
}

.default_info {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px;
    width: 990px;
    overflow: auto;
    background: transparent;
    /*text-align: center; *//*Para poder centrar un DIV en IExplorer*/
}

.botao {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#003399;
	padding:5px 10px;
	color:#fff;
    width: 75px;
    text-align: center;
	text-decoration:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:arial;
}
    

/* Tooltip */

#tooltip {
	position: absolute;
	z-index: 9999;
	color: #fff;
	font-size: 10px;
	width: 180px;
}
#tooltip .tipHeader {
	height: 8px;
	background: url("../images/tipHeader.gif") no-repeat;
}


#tooltip .tipBody {
	background-color: #000;
	padding: 5px 5px 5px 15px;
	z-index: 9999;
	
}

#tooltip .tipFooter {
	height: 8px;
	background: url("../images/tipFooter.gif") no-repeat;
}