@charset "utf-8";
/* CSS Document */
.form_1 {
	float: left;
	width: 100%;
	line-height: 30px;
	margin-left: 23px;
}
.subsection_f1 {
	float: left;
	padding-left: 100px;
	margin-left: 0px;
}
.subtitle_f1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	height: 40px;
}
.field_line_f1 {
	list-style: none;
	width: 100%;
	height: 30px;
}
.field_line_f1 li {
	display: inline;
}
.bt_line_f1 {
	float: left;
	list-style: none;
	margin-left: 100px;
}
.bt_line_f1 li {
	display: inline;
}
.input_f1 {
	float: left
}
.label_f1 {
	margin-right: 10px;
}
.label_f1 span {
	float: left;
	text-align: left;
	width: 100px;
}
.bt_cell_submit {
	margin-right: 10px;
}
/* ///// LEGACY CSS ////////////////////////////////////// */
	
/* /////////////////////////////////////////////////////// */
/* ////////////////    FUNDO   /////////////////////////// */
/* /////////////////////////////////////////////////////// */
body {
	scrollbar-base-color: #f0f0f0;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-attachment: scroll;
	/*background-image: url(../images/BG_LISTRADO.gif);*/
	background-repeat: repeat;
}

/* /////////////////////////////////////////////////////// */
/* ////////////////    TEXTO   /////////////////////////// */
/* /////////////////////////////////////////////////////// */
table, tr, td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
	text-align: left;
}

.style1 {
	color: #999999
}

.style6 {
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.textoBranco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: left;
}

.textoBrancoP {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: normal;
}

.tituloPrincipal {
	font-family: "Times New Roman", Arial, serif;
	font-size: 23px;
	font-weight: bold;
	background-attachment: fixed;
	background-image: url(../images/icos/setaG.gif);
	background-repeat: no-repeat;
	background-position: left center;
	letter-spacing: 7px;
	text-indent: 23px;
	font-variant: normal;
	font-style: normal;
	line-height: normal;
	height: 30px;
	color: #2A6A96;
	text-align: left;
}

.subTitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-attachment: fixed;
	background-image: url(../images/icos/setaRedonda.gif);
	background-repeat: no-repeat;
	background-position: 10px;
	text-indent: 0px;
	font-variant: normal;
	font-style: italic;
	line-height: normal;
	height: 18px;
	text-transform: none;
	text-align: left;
	color: #666666;
	vertical-align: baseline;
}

.alerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-attachment: fixed;
	background-image: url(../images/icos/alerta.jpg);
	background-repeat: no-repeat;
	background-position: 10px;
	text-indent: 37px;
	font-variant: normal;
	font-style: italic;
	line-height: normal;
	height: 18px;
	text-transform: none;
	text-align: left;
	color: #9F9B00;
	background-color: #FFFFB7;
	vertical-align: baseline;
}

.paginacao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #666666;
	height: 16px;
	width: 30px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-right-color: #333333;
	border-bottom-color: #FFFFFF;
	border-left-color: #666666;
	text-align: center;
}

.tabela {
	width: 100%;
	background-color: #F9F9F9;
	cursor: auto;
	vertical-align: top;
	border-top-width: 12px;
	border-right-width: 15px;
	border-bottom-width: 5px;
	border-left-width: 15px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ECECEC;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-image: url(../images/bg/bgTabelaPrincipal.jpg);
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.box {
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////    FORM   /////////////////////////// */
/* /////////////////////////////////////////////////////// */
.botao {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #D6101A;
	border: 1px solid #666666;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #666666;
	border: 1px solid #666666;
}

/* /////////////////////////////////////////////////////// */
/* ////////////////    LINKS   /////////////////////////// */
/* /////////////////////////////////////////////////////// */
.linkAmarelo {
	font-family: arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFF00;
	text-decoration: none;
}

.linkAmarelo:link {
	font-family: arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFF00;
	text-decoration: none;
}

.linkAmarelo:visited {
	font-family: arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFF00;
	text-decoration: none;
}

.linkAmarelo:hover {
	font-family: arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFF00;
	text-decoration: underline;
}

/* Amarelo PEQUENO (P)*/
.linkAmareloP {
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF59;
	text-decoration: none;
}

.linkAmareloP:link {
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF59;
	text-decoration: none;
}

.linkAmareloP:visited {
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF59;
	text-decoration: none;
}

.linkAmareloP:hover {
	font-family: arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFF93;
	text-decoration: underline;
}

/* Amarelo VEMELHO*/
.linkVermelho {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #D6101A;
	text-decoration: none;
}

.linkVermelho:link {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #D6101A;
	text-decoration: none;
}

.linkVermelho:visited {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #D6101A;
	text-decoration: none;
}

.linkVermelho:hover {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #D6101A;
	text-decoration: underline;
}

/* Amarelo VEMELHO*/
.linkTeste {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
}

.linkTeste:link {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
}

.linkTeste:visited {
	font-family: arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: underline;
}

.linkTeste:hover {
	font-family: arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
}

a:link {
	font-family: arial, Helvetica, sans-serif;
	font-size: 14px;
	color: blue;
	text-decoration: none;
	/*height: 20px;*/
	background-position: center;
}

a:visited {
	font-family: arial, Helvetica, sans-serif;
	font-size: 14px;
	color: blue;
	text-decoration: none;
	/*height: 20px;*/
	background-position: center;
}

a:hover {
	font-family: arial, Helvetica, sans-serif;
	font-size: 14px;
	color: red;
	text-decoration: underline;
	/*height: 20px;*/
	background-position: center;
}

.tabelaBgAzul {
	background-color: #014E82;
	background-image: url(../images/bg/tabelaBgAzul.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	height: 48px;
}