@charset "utf-8";
/* CSS Document */
#footer_wrap {
	border-style: solid;
	border-width: 6px;
	border-color: #383838;
	border-left-width: thin;
	border-right-width: thin;
}
.footer_scroll {	
	
	height: 80px;
	margin-right: 280px;	
}

#footer_scroll_left {
	min-width: 35px;
	margin-left: 40px;
	height: 80px;
}

#footer_scroll_right {
	min-width: 35px;
	margin-right: 280px;
	height: 80px;
}

#footer_bottom {
	background-image: url(images/footer_bottom_bg.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 150px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#footer_bottom_text {
	background-image: url(images/footer_bottom_bg.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 84px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
}
#footer_carrousel_wrap {
	background-color: #696969;
	height: 204px;
}

#small_carrousel {
	margin-left: 40px;
}

#footer_scroll_list img{
	display: block;
	position: relative;
	float: left;
	padding: 0;
	margin: 0px 10px 0px 10px;
	border-width: 2px;
	border-color: #fff;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tag_cloud {
	text-align: center;
	float: right;
	width: 256px;
	height: 204px;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-color: #383838;
	background-color: #696969;
}
