
.login_title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.login_label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.login_messages {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 197px;
    margin-left: 1px;
    margin-right: 1px;
    color: #0F6197;
    background-color: #FFFFFF;
}

.login_error {
    font-weight: bold;
    color: red;
    margin-right: 10px;
}

.login_link {
}

.login_box {
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url("../images/arq_login.jpg");
    height: 245px;
    width: 450px;
}


.title_text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
    text-align: center;
    padding: 10px;
}

.login_box_clear {
    clear: both;
}

.login_title {
    width: 100%;
    text-align: center;
    float: left;
}

.login_fields {
    margin-top: 100px;
    padding: 15px;
}

.login_fields_1 {
    float: left;
    padding-bottom: 15px;
}

.login_fields_2 {
    padding-left: 4px;
    float: left;
    padding-bottom: 15px;
}

.login_button {
    padding-left: 7px;
    padding-top: 15px;
    float: right;
    padding-bottom: 15px;
}

body {
}
