.style1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.style8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CC101E;
}
#login_box {
	border-style: solid;
	border-color: #333;
	border-width: 1px;
	width: 540px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
#lb_title {
	width: 100%;
	text-align: center;
}
#lb_logo {
	float: left;
}
#lb_fields {
	padding-top: 15px;
}
#lb_fields_1 {
	float: left;
}
#lb_fields_2 {
	padding-left: 4px;
}
#lb_fields_3 {
	padding-top: 15px;
	float: right;
}
body {
	background-image: url(<%=request.getContextPath()%>/images/BG_LISTRADO.gif);
}
