@charset "utf-8";
/* CSS Document */
#small_header {
	background-image: url(../images/index_min_bg.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	height: 23px;
	width: 100%;
}

#big_logo {
	position: absolute;
	top: 40px;
	left: 18px;
	z-index: 9000;
}
#small_login_field {
	position: absolute;
	left: 346px;
	top: 2px;
	z-index: 9999;
}
#small_login_field span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
}
#small_login_field input {
	padding-left: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
}
#small_login_field li {
	display: inline;
}
.s_l_label {
	margin-right: 5px;
}
.s_l_field_bg {
	margin: 0px;
	padding: 0px;
	border: none;
	height: 18px;
	width: 116px;
	background-image: url(../images/login_field_bg.gif);
	background-attachment: scroll;
	background-repeat: no-repeat;
}
.s_l_login_button {
	border: none;
	margin: 0px;
	padding: 0px;
	height: 19px;
	width: 52px;
	background-image: url(../images/bt_login2.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	vertical-align: top;
}
#registration_field {
	position: relative;
	float: right;
	top: 2px;
	right: 20px;
	z-index: 9999;
}
#registration_field span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}
#registration_field a {
	vertical-align: top;
}
#search_box {
	position: absolute;
	float: right;
	right: 20px;
	top: 50px;
	width: 214px;
	height: 29px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	background-color: #fff;
	opacity: 0.95;
	padding-top: 2px;
	z-index: 9999;
}
#s_b_button {
	width:25px;
	height:25px;
	border: none;
	margin-top: 1px;
	background-image: url(../images/search_bt2.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	vertical-align: top;
}
#s_b_search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	width: 180px;
	border: none;
}
