@charset "utf-8";
/* CSS Document */
#search_refinement {
	float: left;
	widht: 165px;
	min-height: 600px;
}
#search_scroll {
	min-height: 300px;
	max-height: 600px;
	overflow: scroll;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	background-color: #fff;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6A8A9B;
	
}
#search_scroll img {
	padding: 2px;
	margin: 8px;
	border-style: solid;
	border-width: thin;
	border-color: #ccc;
}
.search_line {
	height: 150px;
	overflow: hidden;
}

#search_statistics {
	margin-top: 10px;
	padding-left: 30px;
	background-color: #CCC;
	opacity: 0.9;
	filter:alpha(opacity=90);
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#resultTerm {
    font-weight: bold;    
}

#resultCount {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #111;
	font-style: italic;
}