@charset "utf-8";
/* CSS Document */
#photoAndBin {
	overflow: hidden;
	margin-left: 30px;
	margin-right: 30px;
}
#photoArea {
	float: left;
	padding: 5px;
	background-color: #DEE2E5;
	border-style: solid;
	border-width: 1px;
	border-color: #B9C1C6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#binArea {
	position:relative;
	top: 20px;
	left: 20px;
}
.binWrapClass {
	margin-right: 10px;
	margin-bottom: 10px;
}
.binLabelClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #8AA3B0;
	padding-right: 5px;
	float: left;
}
.binValueClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #526C7A;
	padding-right: 15px;
	float: left;
}
#photoTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
}
#binTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
#caracteristics {
	position: relative;
	top: 10px;
}
#caracteristics h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
#tags_left {
	float: left;
	width: 57px;
	height: 20px;
	background-image: url("../images/tag_field_left.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_right {
	float:left;
	width: 19px;
	height: 20px;
	background-image: url("../images/tag_field_right.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_content {
	float: left;
	background-image: url("../images/tag_field_bg.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 20px;
}
#tags {
}
#evalAndAdd {
	float: left;
}
#eval {
	float: left;
}
#add {
	float: left;
	padding-left: 30px;
	background-color: #fff;
}
#tagsAndEval {
	margin-left: 30px;
	clear: both;
}