@charset "utf-8";
/* CSS Document */
#photoAndBin {
	margin-left: 30px;
	margin-right: 30px;
}
#photoAndTagArea {
	float: left;
}
#photoArea {
	padding: 5px;
	background-color: #DEE2E5;
	border-style: solid;
	border-width: 1px;
	border-color: #B9C1C6;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #888;
  	-webkit-box-shadow: 3px 3px 5px #666;
}
#binArea {
	float: right;
	max-width: 34%;
	min-width: 150px;
	padding: 15px;
	background-color:#FFF;
}
.binWrapClass {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.binLabelClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #8AA3B0;
	padding-right: 5px;
	float: left;
}
.binValueClass {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #526C7A;
	padding-right: 15px;
	float: left;
}
#photoTitle {
	height: 25px;
	width: 30%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
	background-color: #666;
	opacity: 0.7;
	filter:alpha(opacity=70);
	border-style: double;
	border-width: 1px;
	border-color: #DDF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	padding-top: 2px;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

#binTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
#caracteristics {
}
#description {
	background-color:#F7F8F9;
	border-style: solid;
	border-width: 1px;
	border-color: #6A8A9A;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
}
#binomialSubmit {
	margin-top: 15px;
	margin-bottom: 15px;
}
.blueTextBox h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
.blueTextBox h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6A8A9A;
}
.blueTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6A8A9A;
	line-height: 20px;
}
#tags_left {
	float: left;
	width: 57px;
	height: 20px;
	background-image: url("../images/tag_field_left.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_right {
	float:left;
	width: 19px;
	height: 20px;
	background-image: url("../images/tag_field_right.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_content {
	float: left;
	background-image: url("../images/tag_field_bg.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6A8A9A;
	padding-top: 2px;
}
#tags {
}
#tagsAdd {
	position:absolute;
	z-index: 9999;
	margin-top: 20px;
	margin-left: 130px;
	background-color: #DEE2E4;
	border-style: solid;
	border-width: 1px;
	border-color: #B9C1C6;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#evalAndAdd {
	float: left;
}
#eval {
	float: left;
}
#add {
	float: left;
	padding-left: 30px;
	background-color: #fff;
}
#add2 {
	float: left;
	padding-left: 30px;
	background-color: #fff;
}
#tagsAndEval {
	clear: both;
}
#comments {

}
#comments_bar_left {
	float: left;
	background-image: url("../images/black_bar_left.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 10px;
	height: 38px;
	margin-left: 30px;
}
#comments_bar_right {
	float: left;
	background-image: url("../images/black_bar_right.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	width: 10px;
	height: 38px;
}
#comments_bar_bg {
	float: left;
	height: 38px;
	width: 70%;
	background-image: url("../images/black_bar_bg.gif");
	background-attachment: scroll;
	background-repeat: repeat-x;
	padding-top: 10px;
}
#comments_bar_title {
	float: left;
}
.comments_link {
	float:right;
	cursor: pointer;
}
#comments_create {
	margin-left: 30px;
	padding: 10px;
	width: 70%;
	background-color: #DADADA;
	background-image: url("../images/gray_gradient_bg.png");
	background-attachment: scroll;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.comments_create_internal {
	width: 100%;
}
.comments_create_internal span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.comments_show_internal {
	width: 100%;
	line-height: 20px;
	background-color: #E6E6E6;
	min-height: 100px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #CBCEE7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}
.comments_show_internal span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
.comments_show_internal h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DF4C32;
}
.comments_show_internal p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin-top: 10px;
	background-color: #fff;
	min-height: 70px;
	border-style: solid;
	border-width: 1px;
	border-color: #CBCEE7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#comments_show {
	margin-top: 3px;
	margin-left: 30px;
	width: 70%;
}
.editorClass {
	width: 100%;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}