@charset "utf-8";
/* CSS Document */
/*********** Binomials ************/
.binWrapClass {
	float: left;
	padding: 3px 6px 3px 6px;
	margin: 0px 0px 10px 0px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.binLabelClass, .binValueClass {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.binLabelClass {
	color: #8594AF;
	padding-right: 5px;
}
.binValueClass {
	color: #8594AF;
	padding-right: 15px;
}
#binomialsTitle {
	float: left;
	position: relative;
	left: -20px;
	padding: 0px 5px 0px 5px;
	margin: 9px 0px 12px 0px;
}
#binLink {
	float: left;
	cursor: pointer;
	margin-top: 8px;
}
#binomialsWrap {
	float: right;
	padding-right: 35px;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}
#binomialSubmit {
	clear: both;
}
#binomialSubmit input {
    width: 60px;
    height: 28px;
    background: url("../images/save_bt1.png") no-repeat scroll;
    cursor: pointer;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}

#photoRel {
	float:right;
	width: 210px;
	margin-right: 8px;
	padding-top: 5px;
	padding-left: 40px;
	border-color: #FFF;
	border-width: 1px;
}
#photoRelSub {
	overflow: scroll;
	overflow-x: hidden;
	float: left;
	margin-top: 10px;
	width: 230px;
	height: 200px;
	background-color: #CBD6DC;
	border-color: #CBD6DC;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	padding: 10px;
}
#caracteristicsWrap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
	width: 100%;
}
#descriptionWrap {
	width: 100%;
}
#photoBackground {
	width: 100%;
	background-image: url("../images/gray_transp_bg.png");
	background-repeat: repeat;
	background-attachment: scroll;
	border-style: solid;
	border-color: #333;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	overflow: auto;
	padding-bottom: 5px;
}
#photoWrap {
	float: left;
	position: relative;
	top: 3px;
	left: 30px;
}
#photoTitle {
	font-size: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin: 2px;
	margin-left: 0px;
	padding-left: 3px;
	overflow: auto;
	
}
.photoTitle_tab {
	padding: 0px 0px 6px 10px;
	float: right;
}
#photo {
	float: left;
	margin-left: 15px;
}
#photo img {
	border-width: 4px;
	border-color: #fff;
	border-style: solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#map_canvas {
	float: left;
	border-width: 4px;
	border-color: #fff;
	border-style: solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#tags_left {
	float: left;
	width: 57px;
	height: 20px;
	background-image: url("../images/tag_field_left.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_right {
	float:left;
	width: 19px;
	height: 20px;
	background-image: url("../images/tag_field_right.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
}
#tags_content {
	float: left;
	background-image: url("../images/tag_field_bg.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding-top: 4px;
}
#tagsAdd {
	width: 190px;
	z-index: 9999;
	margin-top: 3px;
	margin-left: 40px;
    clear: both;	
	background-image: url("../images/gray_gradient_bg.png");
	background-attachment: scroll;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#tagsAdd input {
	border: 0;
	width: 90px;
	height: 28px;
	background-image: url("../images/add_bt1.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
}
#evalAndAdd {
	float: left;
}
#eval {
	float: left;
}
#add {
	float: left;
	padding-left: 30px;
}
#add2 {
	float: left;
	padding-left: 30px;
}
#tagsAndEval {
	padding-top: 8px;
	clear: both;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
}
#comments_bar_bg {
	float: left;
	width: 70%;
	margin-left: 30px;
	padding: 10px 0px 0px 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #0F6197;
}
#comments_bar_title {
	float: left;
	background-color: #fff;
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#comments_bar {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 38px;
}
.comments_link {
	float:right;
	cursor: pointer;
}
#comments_create {
	margin-left: 30px;
	padding: 10px;
	width: 70%;
	background-color: #DADADA;
	background-image: url("../images/gray_gradient_bg.png");
	background-attachment: scroll;
	background-repeat: repeat-x;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.comments_create_internal {
	width: 100%;
}
.comments_create_internal span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.comments_show_internal {
	width: 100%;
	line-height: 20px;
	background-color: #FFF;
	min-height: 100px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #0F6197;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.comments_show_internal span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6A8A9A;
}
.comments_show_internal h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #DF4C32;
}
.comments_show_internal p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	margin-top: 10px;
	background-color: #fff;
	min-height: 70px;
	border-style: solid;
	border-width: 1px;
	border-color: #CBCEE7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#comments_show {
	margin-top: 3px;
	margin-left: 30px;
	width: 70%;
}
.editorClass {
	width: 100%;
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}