@charset "utf-8";

#tag_cloud a {
    text-decoration: none;
}
.cloud1, .cloud2, .cloud3, .cloud4, .cloud5, .cloud6, .cloud7, .cloud8, .cloud9 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cloud1 { font-size: 0.50em; }
.cloud2 { font-size: 0.65em; }
.cloud3 { font-size: 0.80em; }
.cloud4 { font-size: 0.95em; }
.cloud5 { font-size: 1.10em; }
.cloud6 { font-size: 1.25em; }
.cloud7 { font-size: 1.40em; }
.cloud8 { font-size: 1.55em; }
.cloud9 { font-size: 1.70em; }
