@charset "utf-8";
/* CSS Document */

* {
	vertical-align: baseline;
	font-family: arial;
	font-style: inherit;
	font-size: 100%;
	border: none;
	padding: 0;
	margin: 0;
}

label{
	display:inline;
}

a{
	color:#7B7D7F;
	text-decoration:none;
}

a:hover{
	color:#30ADD6;
	text-decoration:none;
}

a.white_links{
	color:#FFFFFF;
	text-decoration:none;
}

a.white_links:hover{
	color:#30ADD6;
	text-decoration:none;
}

body{
	background-color:#000000;
	height:auto;
	width:1000px;
	margin:0  auto;
}

p.none_paragraph{
	display:inline;
	float:left;
}

div.header{
	height:78px;
	width:1000px;
}

a#logo{
	background:url(../img/logo.png) transparent no-repeat;
	background-size:contain;
	display:block;
	height:44px;
	text-align:right;
	width:192px;
	margin-left:25px;
	margin-top:8px;
	float:left;
}

ul.top_menu_items{
	display:block;
	width:563px;
	margin-top:31px;
	text-align:center;
	color:#7B7D7F;
	font-size:11px;
	letter-spacing:1px;
	float:left;
}

ul.top_menu_items li{
	display:inline;
	color:#7B7D7F;
	font-size:11px;
	letter-spacing:1px;
	margin-right:10px;
}

div.login_registration_bar{
	background-color:transparent;
	overflow:hidden;
	height:44px;
	width:200px;
	margin-top:8px;
	float:left;
}

div.login_registration_bar a{
	background-color:transparent;
}

a#login_button{
	display:block;
	height:19px;
	width:85px;
	cursor:pointer;
	float:left;
	margin-top:14px;
	margin-left:20px;
	background-image:url(../img/login_button.png);
}

a#login_button:hover{
	background-image:url(../img/login_button_hover.png);
	cursor:pointer;
}

a#registration_button{
	display:block;
	height:19px;
	width:85px;
	cursor:pointer;
	float:left;
	margin-top:14px;
	margin-left:10px;
	background-image:url(../img/registration_button.png);
}

a#registration_button:hover{
	background-image:url(../img/registration_button_hover.png);
	cursor:pointer;
}

div.arrow_sidebar_left{
	background:url(../img/arrow_sidebar_left.png) #333333 no-repeat left;
	height:22px;
	width:28px;
	margin-top:4px;
	float:left;
}

div.arrow_sidebar_right{
	background:url(../img/arrow_sidebar_right.png) #333333 no-repeat right;
	height:22px;
	width:28px;
	margin-top:4px;
	float:left;
}

div.search_area{
	background-color:#333333;
	height:22px;
	width:944px;
	text-align:center;
	margin-top:4px;
	float:left;
}

form#search_buttons_area{
	background-color:transparent;
	height:13px;
	width:187px;
	text-align:center;
	margin:auto;
	margin-top:4px;
}

form#search_buttons_area input{
	background-color:transparent;
}

input.search_bar{
	/*background-color:#FFFFFF;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;*/
	background-image:url(../img/search_bar.png);
	height:13px;
	width:126px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	cursor:text;
}

input.search_bar:hover{
	background-image:url(../img/search_bar_hover.png);
	height:13px;
	width:126px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	cursor:text;
}

input.search_bar:focus{
	background-image:url(../img/search_bar_focus.png);
	height:13px;
	width:126px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	cursor:text;
}

input.search_bar_button{
	background-image:url(../img/search_button.png);
	height:13px;
	width:26px;
	float:left;
	cursor:pointer;
}

input.search_bar_button:hover{
	background-image:url(../img/search_button_hover.png);
	height:13px;
	width:26px;
	float:left;
	cursor:pointer;
}

div.complete_search_button{
	height:13px;
	width:15px;
	background-image:url(../img/complete_search.png);
	background-repeat:no-repeat;
	cursor:pointer;
	margin-left:10px;
	float:left;
}

div.complete_search_button:hover{
	height:13px;
	width:15px;
	background-image:url(../img/complete_search_hover.png);
	cursor:pointer;
}

div.content{
	background-color:#000000;
	height:auto;
	width:1000px;
	overflow:auto;
}

div.panel{
	background-color:transparent;
	height:auto;
	min-height:390px;
	overflow:auto;
	width:auto;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
	padding-bottom:5px;
}

div.images_column{
	background-color:transparent;
	height:auto;
	width:188px;
	float:left;
}

a.image{
	display:block;
	background-color:transparent;
	border:solid 1px transparent;
	width:170px;
	height:117px;
	margin-left:7px;
	margin-right:7px;
	margin-top:16px;
	margin-bottom:16px;
}

a.image:hover{
	display:block;
	background-color:transparent;
	border:solid 1px #30ADD6;
	width:170px;
	height:117px;
	margin-left:7px;
	margin-right:7px;
	margin-top:16px;
	margin-bottom:16px;
}

div.tags{
	background-color:transparent;
	height:85px;
	width:1000px;
	margin-top:10px;
}

div.tags_cloud{
	background-color:transparent;
	height:80px;
	width:700px;
	margin:auto;
}	

div.tags_line_01{
	width:700px;
	height:auto;
	font-size:10px;
	text-align:center;
	line-height:17px;
	letter-spacing:0.6px;
	color:#7B7D7F;
}

div.tags_line_02{
	width:700px;
	height:auto;
	font-size:11px;
	text-align:center;
	line-height:17px;
	letter-spacing:0.6px;
	color:#7B7D7F;
}

div.tags_line_03{
	width:700px;
	height:auto;
	font-size:12px;
	text-align:center;
	line-height:17px;
	letter-spacing:0.6px;
	color:#7B7D7F;
}

div.tags_line_04{
	width:700px;
	height:auto;
	font-size:13px;
	text-align:center;
	line-height:17px;
	letter-spacing:0.6px;
	color:#7B7D7F;
}

div.bottom{
	background-color:transparent;
	height:200px;
	width:1000px;
	margin-top:13px;
}

div.footer{
	background-color:transparent;
	height:105px;
	width:1000px;
}

ul.tabs{
	background-color:transparent;
	height:17px;
	width:1000px;
	margin-bottom:0px;
}

ul.tabs li{
	display:block;
	background-color:transparent;
	background-repeat:no-repeat;
	height:17px;
	width:91px;
	margin-right:3px;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	float:left;
	text-align:center;
	list-style:none;
}

ul.tabs li a{
	display:block;
	font-size:10px;
	margin-top:3px;
}

li.tab_not_selected{
	background-image:url(../img/tab2.png);
}

li.selected_tab{
	background-image:url(../img/tab1.png);
}

a.tab_link{
	color:#000000;
}

a.tab_link:hover{
	color:#30ADD6;
}

a.selected_tab_link{
	color:#FFFFFF;
}

div.footer_images{
	background-color:#333333;
	height:89px;
	width:1000px;
    overflow:hidden;
}

div.images_line{
	height:74px;
	width:936px;
	background-color:transparent;
	margin:auto;
	margin-top:8px;
}

a.footer_image{
	display:block;
	height:72px;
	width:105px;
	background-color:transparent;
	margin-right:10px;
	float:left;
	border:solid 1px transparent;
}

a.footer_image:hover{
	display:block;
	height:72px;
	width:105px;
	background-color:transparent;
	margin-right:10px;
	border:solid 1px #30ADD6;
	float:left;
}

div.credits{
	background-color:#B3B3B3;
	height:95px;
	width:1000px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

p.copyright{
	display:block;
	height:13px;
	width:95px;
	padding-top:2px;
	margin:0 auto 2px;
	color:#FFFFFF;
	font-size:10px;
}

/*   HOME - LOGADO   */

li#top_menu_items_logged{
	display:inline;
	color:#7B7D7F;
	font-size:11px;
	letter-spacing:1px;
	margin-right:-127px;
	margin-left:30px;
}

div.user_infos{
	background-color:transparent;
	height:44px;
	width:90px;
	float:left;
}

div.user_infos_message{
	height:20px;
	width:30px;
	float:right;
	background-color:#233557;
	cursor:pointer;
}

div.user_infos_message:hover{
	height:20px;
	width:30px;
	float:right;
	background-color:#30ADD6;
	cursor:pointer;
	color:#FFFFFF;
}

div.user_infos_message:hover div.user_infos_message_number a.message_number_link{
	cursor:pointer;
	color:#FFFFFF;
}

div.user_infos_message:hover div.user_infos_message_header{
	background-image:url(../img/letter_top_hover.png);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
}

div.user_infos_message_header{
	height:7px;
	width:30px;
	background-image:url(../img/letter_top.png);
	background-repeat:no-repeat;
	background-color:transparent;
}

div.user_infos_message_number{
	height:13px;
	width:30px;
	font-size:9px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;

}

a.name_link{
	height:20px;
	width:90px;
	text-align:right;
	display:block;
	font-size:9px;
	float:right;
	margin-top:8px;
}

a.logout{
	display:block;
	height:44px;
	width:20px;
	float:left;
	text-align:center;
	font-size:9px;
}

div.user_photo_thumbnail{
	background-color:transparent;
	height:44px;
	width:90px;
	float:left;
	text-align:center;	
	overflow:hidden;
}

img.user_photo_thumbnail{
	margin:auto;
	overflow:hidden;
}

div.search_area_logged{
	background-color:#333333;
	height:22px;
	width:490px;
	margin-left:265px;
	text-align:center;
}

form#search_buttons_area_logged{
	background-color:transparent;
	height:13px;
	width:187px;
	text-align:center;
	margin-top:4px;
	float:left;
}

form#search_buttons_area_logged input{
	background-color:transparent;
}

div.upload_area{
	background-color:transparent;
	height:13px;
	width:103px;
	text-align:center;
	margin-right:10px;
	margin-top:4px;
	float:left;
}

div.upload_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/send.png);
	background-repeat:no-repeat;
}

div.upload_button:hover{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/send_hover.png);
	background-repeat:no-repeat;
}

div.upload_area a.loged_menu_links{
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
}

div.upload_area:hover a.loged_menu_links{
	color:#30ADD6;
	text-decoration:none;
	cursor:pointer;
}

div.upload_area div.upload_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/send.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.upload_area:hover div.upload_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/send_hover.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.upload_button_text{
	height:13px;
	width:85px;
	margin-left:3px;
	float:left;
	font-size:12px;
	text-align:left;
}

div.search_buttons_area_loged{
	background-color:transparent;
	height:13px;
	width:185px;
	text-align:center;
	margin-top:4px;
	float:left;
}

div.community_area{
	background-color:transparent;
	height:13px;
	width:98px;
	text-align:center;
	margin-right:10px;
	margin-left:10px;
	margin-top:4px;
	float:left;
	cursor:pointer;
}

div.community_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/comunities.png);
	background-repeat:no-repeat;
}

div.community_button:hover{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/comunities_hover.png);
	background-repeat:no-repeat;
}

div.community_area a.loged_menu_links{
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
}

div.community_area:hover a.loged_menu_links{
	color:#30ADD6;
	text-decoration:none;
	cursor:pointer;
}

div.community_area div.community_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/comunities.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.community_area:hover div.community_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/comunities_hover.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.community_button_text{
	height:13px;
	width:80px;
	margin-left:3px;
	float:left;
	font-size:12px;
	text-align:left;
}

div.users_area{
	background-color:transparent;
	height:13px;
	width:70px;
	text-align:center;
	margin-top:4px;
	float:left;
}

div.users_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/user.png);
	background-repeat:no-repeat;
}

div.users_button:hover{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/user_hover.png);
	background-repeat:no-repeat;
}

div.users_area a.loged_menu_links{
	color:#FFFFFF;
	text-decoration:none;
	cursor:pointer;
}

div.users_area:hover a.loged_menu_links{
	color:#30ADD6;
	text-decoration:none;
	cursor:pointer;
}

div.users_area div.users_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/user.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.users_area:hover div.users_button{
	height:13px;
	width:15px;
	float:left;
	background-image:url(../img/user_hover.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

div.users_button_text{
	height:13px;
	width:52px;
	margin-left:3px;
	float:left;
	font-size:12px;
	text-align:left;
}

/*   MODAL BOX   */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#form_boxes .form_window {
  position:absolute;
  left:0;
  top:0;
  width:500px;
  height:300px;
  display:none;
  z-index:9999;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  background-color:#B3B3B3;
  border:solid 10px #000000;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

#form_boxes #form_window {
  width:400px; 
  height:200px;
}

#form_window .login_form_box {
  width:265px; 
  height:130px;
  text-align:right;
  margin:auto;
}

#form_window .login_form_box input {
  border:3px solid #cccccc;
  height:23px;
  width:200px;
  font-size:15px;
  margin-top:15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

#social_networks{
	width:400px;
	height:50px;
}

#login_form_box_area{
	width:400px;
	height:150px;
	text-align:center;
}

#form_window .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#form_window .login_form_box #login_form_button {
	background-color:transparent;
	height:19px;
	width:85px;
	cursor:pointer;
	background-image:url(../img/login_button.png);
	border:none;
}

#form_window .login_form_box #login_form_button:hover {
	background-color:transparent;
	background-image:url(../img/login_button_hover.png);
	cursor:pointer;
	border:none;
}

.close{
	display:block;
	text-align:right;
}

/*   COMUNITIES SEARCH   */

div.comunities_search_sidebar{
	height:620px;
	width:217px;
	margin-top:15px;
	float:left;
	background-color:#FFF;
}

div.comunities_search_content{
	height:620px;
	width:783px;
	margin-top:15px;
	float:left;
	background-color:#F00;
}

/*   IMAGE VIEW   */

div.image_tool_box{
	height:355px;
	width:170px;
	background-color:#333333;
	margin-top:15px;
	float:left;
}

div.image_view_content{
	height:620px;
	width:600px;
	margin:15px;
	float:left;
}

div.related_images{
	height:590px;
	width:170px;
	background-color:#333333;
	margin-top:15px;
	float:left;
	padding:15px;
}

a.related_image{
	display:block;
	width:170px;
	height:117px;
	margin-bottom:10px;
}