@charset "utf-8";
/* CSS Document */

* { padding:0; margin:0; }
html, body{ height:100%; }
body { background-color:#000; width:1000px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; }
#container{ min-height:100%; position:relative; }
img, a img, input{ border:none; }
label { display:inline; }
a { color:#7B7D7F; text-decoration:none; }
a:hover, 
a.white_links:hover { color:#CB9833; text-decoration:none; }
a.white_links { color:#FFFFFF; text-decoration:none; }
.clear{ height:225px; }


/* HEADER */
#header { height:95px; width:1000px; border-bottom:solid 1px #666; margin-bottom:24px; }
a#logo { float:left; display:block; width:340px; height:60px; margin:25px 0 0 25px; }
/* itens do menu */
ul#top_menu_items { margin:33px 0 1px -2px; color:#7B7D7F; font-size:9px; float:left; clear:right; width:400px; }
ul#top_menu_items li { display:inline-block; margin-right:12px; zoom:1; }
ul#top_menu_items li a{ line-height:25px; display:block; }
a#project { background:url(../images/ico-projeto.png) no-repeat left top; padding-left: 18px;  }
a#project:hover{ background:url(../images/ico-projeto-hover.png) no-repeat left top; }
a#help { background:url(../images/ico-ajuda.png) no-repeat left top; padding-left: 16px; }
a#help:hover{ background:url(../images/ico-ajuda-hover.png) no-repeat left top; }
a#contact { background:url(../images/ico-contato.png) no-repeat left top; padding-left: 27px; }
a#contact:hover{ background:url(../images/ico-contato-hover.png) no-repeat left top; }
/* registro e login */
div#login_registration_bar { float:right; margin-right:25px; }
a#login_button { height:20px; width:56px; float:right; background:url(../images/ico-entrar.png); margin-left:6px; }
a#login_button:hover { background:url(../images/ico-entrar-hover.png); }
a#registration_button { height:20px; width:109px; float:right; background:url(../images/ico-criar-uma-conta.png); }
a#registration_button:hover { background:url(../images/ico-criar-uma-conta-hover.png); }
/* busca */
#search_area { float:left; height:22px; width:250px; }
input.search_bar { background:url(../images/ico-campo-busca.png); height:21px; width:211px; float:left; }
form#search_buttons_area { margin:0; width:270px; }
input.search_bar_button { background-image:url(../images/ico-busca.png); height:21px; width:31px; cursor:pointer; }
input.search_bar_button:hover { background-image:url(../images/ico-busca-hover.png); }
a#complete_search { float:right; margin-top:-3px; height:24px; width:24px; background-image:url(../images/ico-busca-avancada.png); }
a#complete_search:hover { background:url(../images/ico-busca-avancada-hover.png); }



/* IMAGENS PAINEL */
#content { background-color:#000000; height:auto; width:1000px; }
#panel { min-height:445px; padding:0 19px 0 26px; }
.images_column { width:191px; float:left; }

/* plano curvo */
/* coluna 1 */
#img_01{ 
	        transform: matrix(1.04,0.04,0,1.03,-5,-9);
	-webkit-transform: matrix(1.04,0.04,0,1.03,-5,-9); 
	   -moz-transform: matrix(1.04,0.04,0,1.03,-5,-9); 
}
#img_02{
	        transform: matrix(1.04,0.0,0.0,1.04,-5,0);
	-webkit-transform: matrix(1.04,0.0,0.0,1.04,-5,0); 
	   -moz-transform: matrix(1.04,0.0,0.0,1.04,-5,0); 
}
#img_03{
	        transform: matrix(1.04,-0.04,0,1.03,-5,9);
	-webkit-transform: matrix(1.04,-0.04,0,1.03,-5,9); 
	   -moz-transform: matrix(1.04,-0.04,0,1.03,-5,9); 
}
/* coluna 2 */
#img_04{
	        transform: matrix(1.02,0.03,0,1.02,0,-2);
	-webkit-transform: matrix(1.02,0.03,0,1.02,0,-2); 
	   -moz-transform: matrix(1.02,0.03,0,1.02,0,-2);
}
#img_05{
	        transform: matrix(1.02,0.0,0.0,1.02,0,0);
	-webkit-transform: matrix(1.02,0.0,0.0,1.02,0,0); 
	   -moz-transform: matrix(1.02,0.0,0.0,1.02,0,0);
}
#img_06{
	        transform: matrix(1.02,-0.03,0,1.02,0,2);
	-webkit-transform: matrix(1.02,-0.03,0,1.02,0,2); 
	   -moz-transform: matrix(1.02,-0.03,0,1.02,0,2);
}
/* coluna 3 */
#img_07{
	        transform: none;
	-webkit-transform: none; 
	   -moz-transform: none;
}
#img_08{
	        transform: none;
	-webkit-transform: none; 
	   -moz-transform: none;
}
#img_09{
	        transform: none;
	-webkit-transform: none; 
	   -moz-transform: none;
}
/* coluna 4 */
#img_10{
	        transform: matrix(1.02,-0.03,0,1.02,0,-2);
	-webkit-transform: matrix(1.02,-0.03,0,1.02,0,-2); 
	   -moz-transform: matrix(1.02,-0.03,0,1.02,0,-2);
}
#img_11{
	        transform: matrix(1.02,0.0,0.0,1.02,0,0);
	-webkit-transform: matrix(1.02,0.0,0.0,1.02,0,0); 
	   -moz-transform: matrix(1.02,0.0,0.0,1.02,0,0);
}
#img_12{
	        transform: matrix(1.02,0.03,0,1.02,0,2);
	-webkit-transform: matrix(1.02,0.03,0,1.02,0,2); 
	   -moz-transform: matrix(1.02,0.03,0,1.02,0,2);
}
/* coluna 5 */
#img_13{
	        transform: matrix(1.04,-0.04,0,1.03,5,-9);
	-webkit-transform: matrix(1.04,-0.04,0,1.03,5,-9); 
	   -moz-transform: matrix(1.04,-0.04,0,1.03,5,-9);
}
#img_14{
	        transform: matrix(1.04,0.0,0.0,1.04,5,0);
	-webkit-transform: matrix(1.04,0.0,0.0,1.04,5,0); 
	   -moz-transform: matrix(1.04,0.0,0.0,1.04,5,0);
}
#img_15{
	        transform: matrix(1.04,0.04,0,1.03,5,9);
	-webkit-transform: matrix(1.04,0.04,0,1.03,5,9); 
	   -moz-transform: matrix(1.04,0.04,0,1.03,5,9);
}

a.image { display:block; border:solid 1px transparent; width:170px; height:117px; margin:16px 7px; }
a.image:hover { border:solid 1px #CB9833; }


/* TAGS */

.tags_cloud { padding-top:25px; text-align:center; }
.tags_cloud:after{ content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden; }
.tags_cloud h2{ font-size:12px; color:#CB9833; font-weight:normal; margin-bottom:15px; }
.tags_cloud div{ text-align:center; letter-spacing:0.6px; color:#7B7D7F; line-height:17px; }
.tags_cloud ul{ width:650px; }
.tags_cloud ul:first-child{ margin:auto; }
.tags_cloud ul li{ display:inline; }
.tags_cloud a{ margin-right:7px; }

.tags_cloud a.A{ font-size:15px; color:#CB9833; }
.tags_cloud a.B{ font-size:13px; }
.tags_cloud a.C{ font-size:11px; }
.tags_cloud a.D{ font-size:9px; }
.tags_cloud a.view_all,
.tags_cloud a.view_all:hover{ font-size:10px; color:#CB9833; display:block; margin:15px auto auto; width:70px; }


/*.tags_cloud { height:85px; margin-top:35px; width:1000px; }
.tags_cloud div{ text-align:center; letter-spacing:0.6px; color:#7B7D7F; line-height:17px; }
.tags_cloud div a{ margin-right:5px; }
#tags_line_01 { font-size:10px; }
#tags_line_02 { font-size:11px; }
#tags_line_03 { font-size:12px; }
#tags_line_04 { font-size:13px; }
*/


/* FOOTER */
#footer { width:1000px; height:190px; position:absolute; bottom:0; clear:both; }
/*tabs*/
ul.tabs { height:17px;}
ul.tabs li { display:block; height:17px; width:91px; margin:0 1px 0 0; float:left; text-align:center; list-style:none; }
ul.tabs li a { display:block; font-size:9px; margin-top:4px; }
ul.tabs li.tab_not_selected { background:url(../images/tab.png) no-repeat; }
ul.tabs li.selected_tab { background:url(../images/tab-ativo.png) no-repeat; margin:0 1px 0 0 !important; }
a.tab_link { color:#404040; }
a.tab_link:hover { color:#777; }
a.selected_tab_link,
a.selected_tab_link:hover { color:#CB9833; }
/*galeria do footer*/
.footer_images { background:#404040; height:89px; width:1000px; overflow:hidden; padding-top:8px; }
.images_line { height:75px; width:913px; margin:auto; position:relative; }
.images_line .arrows{ font-size:30px; }
.images_line .arrows a{ color:A6A6A6; }
.images_line .arrows a:hover{ color:#CB9833; }

.images_line a#arrow-right{ position:absolute; right:-30px; top:20px; }
.images_line a#arrow-left{ position:absolute; left:-31px; top:20px; }
a.footer_image { display:block; margin-right:1px; float:left; border:solid 4px black; }
/*créditos*/
#credits { background-color:#A6A6A6; height:60px; padding-top:5px; width:1000px; display:table-cell; vertical-align:middle; text-align:center; }
#credits ul li{ display:inline; margin:0 20px; }
p#copyright { display:block; padding-top:7px; margin:0 auto 2px; color:#404040; font-size:11px }




p.none_paragraph { display:inline; float:left; }

/*   HOME - LOGADO   */

div.user_infos { background-color:transparent; height:58px; width:90px; float:left; }
div.user_infos_messages { height:33px; width:90px; text-align:right; padding-top:5px; }
div.user_infos_message { height:20px; width:30px; display:table-cell; vertical-align:baseline; float:right; background-color:#233557; cursor:pointer; }
div.user_infos_message:hover { height:20px; width:30px; display:table-cell; vertical-align:baseline; float:right; background-color:#30ADD6; cursor:pointer; color:#FFFFFF; }
div.user_infos_message:hover div.user_infos_message_number a.message_number_link { cursor:pointer; color:#FFFFFF; }
div.user_infos_message:hover div.user_infos_message_header { background-image:url(../img/letter_top_hover.png); background-repeat:no-repeat; background-color:transparent; cursor:pointer; }
div.user_infos_message_header { height:7px; width:30px; background-image:url(../img/letter_top.png); background-repeat:no-repeat; background-color:transparent; }
div.user_infos_message_number { height:13px; width:30px; font-size:9px; text-align:center; display:table-cell; vertical-align:middle; }
div.user_infos_name { height:20px; width:90px; text-align:right; display:table-cell; vertical-align:middle; font-size:9px; }
div.logout { background-color:transparent; height:53px; width:39px; float:left; text-align:center; font-size:9px; padding-top:5px; }
div.user_photo_thumbnail { background-color:transparent; height:53px; width:90px; float:left; padding-top:5px; text-align:center; }
img.user_photo_thumbnail { height:47px; width:47px; margin:auto; }
div.secundary_menu_buttons { height:22px; width:555px; margin:auto; }
div.upload_area { background-color:transparent; height:13px; width:103px; text-align:center; margin-right:10px; margin-top:4px; float:left; }
div.upload_button { height:13px; width:15px; float:left; background-image:url(../img/send.png); background-repeat:no-repeat; }
div.upload_button:hover { height:13px; width:15px; float:left; background-image:url(../img/send_hover.png); background-repeat:no-repeat; }
div.upload_area a.loged_menu_links { color:#FFFFFF; text-decoration:none; cursor:pointer; }
div.upload_area:hover a.loged_menu_links { color:#30ADD6; text-decoration:none; cursor:pointer; }
div.upload_area div.upload_button { height:13px; width:15px; float:left; background-image:url(../img/send.png); background-repeat:no-repeat; cursor:pointer; }
div.upload_area:hover div.upload_button { height:13px; width:15px; float:left; background-image:url(../img/send_hover.png); background-repeat:no-repeat; cursor:pointer; }
div.upload_button_text { height:13px; width:85px; margin-left:3px; float:left; font-size:12px; text-align:left; }
div.search_buttons_area_loged { background-color:transparent; height:13px; width:185px; text-align:center; margin-top:4px; float:left; }
div.community_area { background-color:transparent; height:13px; width:98px; text-align:center; margin-right:10px; margin-left:10px; margin-top:4px; float:left; cursor:pointer; }
div.community_button { height:13px; width:15px; float:left; background-image:url(../img/comunities.png); background-repeat:no-repeat; }
div.community_button:hover { height:13px; width:15px; float:left; background-image:url(../img/comunities_hover.png); background-repeat:no-repeat; }
div.community_area a.loged_menu_links { color:#FFFFFF; text-decoration:none; cursor:pointer; }
div.community_area:hover a.loged_menu_links { color:#30ADD6; text-decoration:none; cursor:pointer; }
div.community_area div.community_button { height:13px; width:15px; float:left; background-image:url(../img/comunities.png); background-repeat:no-repeat; cursor:pointer; }
div.community_area:hover div.community_button { height:13px; width:15px; float:left; background-image:url(../img/comunities_hover.png); background-repeat:no-repeat; cursor:pointer; }
div.community_button_text { height:13px; width:80px; margin-left:3px; float:left; font-size:12px; text-align:left; }
div.users_area { background-color:transparent; height:13px; width:70px; text-align:center; margin-top:4px; float:left; }
div.users_button { height:13px; width:15px; float:left; background-image:url(../img/user.png); background-repeat:no-repeat; }
div.users_button:hover { height:13px; width:15px; float:left; background-image:url(../img/user_hover.png); background-repeat:no-repeat; }
div.users_area a.loged_menu_links { color:#FFFFFF; text-decoration:none; cursor:pointer; }
div.users_area:hover a.loged_menu_links { color:#30ADD6; text-decoration:none; cursor:pointer; }
div.users_area div.users_button { height:13px; width:15px; float:left; background-image:url(../img/user.png); background-repeat:no-repeat; cursor:pointer; }
div.users_area:hover div.users_button { height:13px; width:15px; float:left; background-image:url(../img/user_hover.png); background-repeat:no-repeat; cursor:pointer; }
div.users_button_text { height:13px; width:52px; margin-left:3px; float:left; font-size:12px; text-align:left; }
/*   MODAL BOX   */

#mask { position:absolute; left:0; top:0; z-index:9000; background-color:#000; display:none; }
#form_boxes .form_window { position:absolute; left:0; top:0; width:500px; height:300px; display:none; z-index:9999; padding-left:20px; padding-right:20px; padding-bottom:20px; background-color:#B3B3B3; border:solid 10px #000000; -moz-border-radius: 15px; border-radius: 15px; -webkit-border-radius: 15px; }
#form_boxes #form_window { width:400px; height:200px; }
#form_window .login_form_box { width:265px; height:130px; text-align:right; margin:auto; }
#form_window .login_form_box input { border:3px solid #cccccc; height:23px; width:200px; font-size:15px; margin-top:15px; -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px; }
#social_networks { width:400px; height:50px; }
#login_form_box_area { width:400px; height:150px; text-align:center; }
#form_window .d-login { float:left; width:108px; height:53px; }
#form_window .login_form_box #login_form_button { background-color:transparent; height:19px; width:85px; cursor:pointer; background-image:url(../img/login_button.png); border:none; }
#form_window .login_form_box #login_form_button:hover { background-color:transparent; background-image:url(../img/login_button_hover.png); cursor:pointer; border:none; }
.close { display:block; text-align:right; }
/*   COMUNITIES SEARCH   */

div.comunities_search_sidebar { height:620px; width:217px; margin-top:15px; float:left; background-color:#FFF; }
div.comunities_search_content { height:620px; width:783px; margin-top:15px; float:left; background-color:#F00; }
/*   IMAGE VIEW   */

div.image_view_left_sidebar { height:620px; width:171px; margin-top:15px; margin-right:43px; float:left; background-color:#FFF; }
div.image_view_content { height:620px; width:566px; margin-top:15px; margin-right:20px; float:left; background-color:#F00; }
div.image_view_right_sidebar { height:620px; width:200px; margin-top:15px; float:left; background-color:#FFF; }
