/* CSS Document */
body {
    font: 62.5% "Trebuchet MS", sans-serif;
}
#header {
    height: 40px;
}
#tabs {
    margin: 5px;
}
.component_canvas {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.default_header {
    height: 25px;
    background: url('../images/header_bg.png');
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    color: #FFF;
    line-height: 25px;
    padding-left: 15px;
}
#available_components {
    float: left;
    width: 300px;
}
#component_list {
	overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}
#installed_components {
    border: #666 thin solid;
    background: #FFF;
    width: 500px;
    margin-left: 322px;
}
#left_installed_components {
    float:left;
    width: 202px;
    padding: 5px 5px 5px 5px;
    border-right: thin;
    border-color: #666;
    border-style: solid;
}
#instance_selector {
    width: 100%;
    border: #9F988A thin solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
    min-height: 50px;
    max-height: 300px;
    overflow: auto;
}
#instance_selector h3 {
    font-size: 1em;
    padding: .5em .5em .5em .7em;
    color: #6674C7;
}
.instance_input {
    height: 31px;
    width: 100%;
    background: url(../images/input_bg.gif) repeat-x;
}
.instance_toggle_details {
    padding-left: 5px;
    float:left;
}
.instance_remove_button {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}
.instance_input_field input {
    width: 142px;
    height: 20px;
    border: #9C9586 1px solid;
    margin: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 3px;
}
#instance_create_button {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}
#instance_create {
    float:right;
    margin-right: 8px;
    line-height: 28px;
}
.acc_icon {
    position: absolute;
    top: 2px;
    left: 250px;
}
.basic_button {
    padding: 4px;
    max-width: 16px;
}
#widget_list {
    overflow: scroll;
    overflow-x: hidden;
}
#canvas_wrapper {
}

