.create_instance_dialog label, .dialog input { display:block; }
.create_instance_dialog label { margin-top: 0.5em; }
.create_instance_dialog input, .create_instance_dialog textarea, .dialog textarea { width: 95%; }
.instance_description_field { width: 95%; }
.instance_details {padding: 0.5em; background: #CCC; height: 50px; display: none;}